---
layout: default
---

<div class="title">
  <h1 class="site-title">{{ site.title }}</h1>
  {% if site.tagline %}<p class="site-tagline">{{ site.tagline }}</p>{% endif %}
</div>

<div class="portfolio">
  {% for post in site.posts %}
    <div class="portfolio-project">
      <a href="{{ post.url }}">
        <img src="{{ post.image.cover }}" alt="{{ post.title }}">
        <h2 class="project-name">{{ post.title }}</h2>
      </a>
    </div>
  {% endfor %}
</div>

{% if site.owner.bio %}
  <div class="about">
    <h2>About</h2>
    {% if site.owner.picture %}
      <img src="{{ site.owner.picture }}" alt="{{ site.owner.name }}">
    {% endif %}
    <p class="bio">{{ site.owner.bio }}</p>
  </div>
{% endif %}